algopy==0.5.7
arch==4.3.1
bokeh==0.12.15
certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
Cython==0.28.2
gspread==3.0.0
httplib2==0.11.3
idna==2.6
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.2
numdifftools==0.9.20
numpy==1.14.3
oauth2client==4.1.2
packaging==17.1
pandas==0.22.0
patsy==0.5.0
pkg-resources==0.0.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pyflux==0.4.15
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
PyYAML==3.12
requests==2.18.4
rsa==3.4.2
scikit-learn==0.19.1
scikit-misc==0.1.1
scipy==1.1.0
seaborn==0.8.1
six==1.11.0
sklearn==0.0
statsmodels==0.8.0
tornado==5.0.2
urllib3==1.22
