<!DOCTYPE html>
<html>

  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet"> 
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <h1>Martha's Vineyard Polar Bears Data Visualization</h1> 

    <p>
      For the past several years, the wonderful MV Polar Bears group has
      recorded how many people attend each day. This site provides some basic
      visualizations of this dataset. The site is refreshed daily to include
      the latest, greatest data. Enjoy! 
    </p>

    <h2>Snapshots of Recent Observations</h2>
    
    <p>
      The table below shows the raw observed data, including attendence,
      weather, and water conditions at the Inkwell beach.
    </p>

    <div id="recent-data">
      <table>
          <tr id="recent-data-first-line">
            {% for day_table in daily_table %}
            <th> {{ day_table["DAY-OF-WEEK"] }} {{ day_table.DATE }} </th> 
            {% endfor %}
          </tr>
          <tr>
            {% for day_table in daily_table %}
            <td> <em>Group:</em> {{ day_table["GROUP"] | int }} </td>
            {% endfor %}
          </tr>
          <tr>
            {% for day_table in daily_table %}
            <td> <em>Newbies:</em> {{ day_table["NEWBIES"] | int }} </td>
            {% endfor %}
          </tr>
      </table>
    </div>

    <h2>Attendence Over Time</h2>

    <p>
      The next few plots show the number of new and returning attendees over
      the past few years. There is a clear annual pattern, and always more old
      friends than new ones.
    </p>

    {{ daily_bar_div | safe }}
    {{ weekly_bar_div | safe }}

    <h2>What Drives Attendence?</h2>

    <p>
      Two features are related if knowing the value of one feature tells you
      something about the other. For example, the new and returning attendence
      number are closely correlated -- when the group is bigger there are more
      "newbies". Temperature and attendence show a different relation. Polar
      bears don't sweat cold weather up to a point, and then attendence falls
      off a cliff. Take a look and see what else you can find.
    </p>

    {% for scatter_div in scatter_divs %}
    {{ scatter_div | safe }}
    {% endfor %}

    <p>
      Last Update: {{ last_update }}
    </p>

    <link href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.15.min.css" rel="stylesheet" type="text/css">

    <script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.15.min.js"></script>

    {{ daily_bar_script | safe }}
    {{ weekly_bar_script | safe }}
    {% for scatter_script in scatter_scripts %}
    {{ scatter_script | safe }}
    {% endfor %}
  </body>

</html>
