<!DOCTYPE html>
<html>

  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet"> 
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <h1>Martha's Vineyard Polar Bears Data Visualization</h1> 

    <p>
      For the past several years, the wonderful MV Polar Bears group has
      recorded how many people attend each day. This site provides some basic
      visualizations of this dataset. The site is refreshed daily to include
      the latest, greatest data. Enjoy! 
    </p>

    <h2>Forecast for Tomorrow</h2>

    <p>
      The forecast for tomorrow's weather and attendence is:
    </p>

    <table id="forecast">
      <tr>
        <td> <em> Group Attendence:</em> </td> <td> {{ "%.1f"|format(forecast.GROUP) }} &plusmn; {{ "%.1f"|format(forecast.GROUP_STD) }} people </td>
      </tr>
      <tr>
        <td> <em> Air Temp: </em> </td> <td> {{ forecast['AIR-TEMPERATURE-DEGREES-F']|round|int if forecast['AIR-TEMPERATURE-DEGREES-F'] != None else "-" }} &deg;F </td> 
      </tr>
      <tr>
        <td> <em> Chance of Rain: </em> </td>  <td> {{ (forecast['PRECIP-PROBABILITY'])*100|round|int if forecast['PRECIP-PROBABILITY'] != None else "-" }} &#37; </td> 
      </tr>
      <tr>
        <td> <em> Humidity: </em> </td> <td> {{ forecast['HUMIDITY'] if forecast['HUMIDITY'] != None else "-" }} &#37; </td>
      </tr>
      <tr>
        <td> <em>  Wind Speed: </em> </td> <td> {{ "%.1f"|format(forecast['WIND-SPEED-MPH']) if forecast['WIND-SPEED-MPH'] != None else "-"}} MPH </td>
      </tr>
      <tr>
        <td> <em> Wave Height </em> </td> <td> {{ "%.1f"|format(forecast['WAVE-HEIGHT-METERS']*3.28) if forecast['WAVE-HEIGHT-METERS'] != None else "-" }} ft </td>
      </tr>
    </table>

    <h2>Snapshots of Recent Observations</h2>
    
    <p>
      The table below shows the raw observed data, including attendence,
      weather, and water conditions at the Inkwell beach.
    </p>

    <div id="recent-data">
      <table>
          <tr id="recent-data-first-line">
            {% for day_table in daily_table %}
            <th> {{ day_table["DAY-OF-WEEK"] }} {{ day_table.DATE }} </th> 
            {% endfor %}
          </tr>
          <tr>
            {% for day_table in daily_table %}
            <td> <em>Group:</em> {{ day_table["GROUP"] | int }} </td>
            {% endfor %}
          </tr>
          <tr>
            {% for day_table in daily_table %}
            <td> <em>Newbies:</em> {{ day_table["NEWBIES"] | int }} </td>
            {% endfor %}
          </tr>
      </table>
    </div>

    <h2>Recent Observations</h2>
    
    <p>
      The next plot shows group and newbie attendence over the past two weeks only. 
    </p>

    {{ recent_group_div | safe }}

    <h2>Attendence Over Time</h2>

    <p>
      The next few plots show the number of new and returning attendees over
      the past few years. There is a clear annual pattern, and always more old
      friends than new ones.
    </p>

    {{ daily_bar_div | safe }}
    {{ weekly_bar_div | safe }}

    <h2>What Drives Attendence?</h2>

    <p>
      Two features are related if knowing the value of one feature tells you
      something about the other. For example, the new and returning attendence
      number are closely correlated -- when the group is bigger there are more
      "newbies". Temperature and attendence show a different relation. Polar
      bears don't sweat cold weather up to a point, and then attendence falls
      off a cliff. Take a look and see what else you can find.
    </p>

    {% for scatter_div in scatter_divs %}
    {{ scatter_div | safe }}
    {% endfor %}

    <h2> Forecast Model </h2>

    <p>
      Polar bears are hard to predict! You may notice from the plots above that
      attendence varies wildly from day-to-day, and the magnitude of this
      variation changes over time as well. These features make make building a
      predictor tricky. Moreover, I had hoped that the weather and water
      conditions might help to predict attendence, but it seems that Polar
      Bears aren'y much bothered by cold, wind, or rain. 
    </p>
    <p>
      After a bit of experimentation, I landed on a timeseries forecasting
      model that predicts changes in the mean and volitility (specifically a
      GARCH model with an ARX mean). The plot below shows retrospecitve
      predictions for the attendence dataset (top), as well as the prediction
      errors (bottom).
    </p>
    <p>
      You may notice that the prediction is often <em>really</em> wrong. Like I
      said, it is hard to predict polar bears! The volitility prediction works
      better -- the true number is usually within the (1-sigma) margin of
      error. 
    </p>
    <p>
      This same model drives the forecast at the top of the page.
    </p>
    {{ forecast_div | safe }}

    <p>
      Last Update: {{ last_update }}
    </p>

    <link href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.15.min.css" rel="stylesheet" type="text/css">

    <script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.15.min.js"></script>

    {{ recent_group_script | safe }}
    {{ daily_bar_script | safe }}
    {{ weekly_bar_script | safe }}
    {% for scatter_script in scatter_scripts %}
    {{ scatter_script | safe }}
    {% endfor %}
    {{ forecast_script | safe }}
  </body>

</html>
