<!DOCTYPE html>
<html>

  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet"> 
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <h1>Martha's Vineyard Polar Bears Data Visualization</h1> 

    <p>
      For the past several years, the wonderful MV Polar Bears group has
      recorded how many people attend each day. This site provides some basic
      visualizations of this dataset. The site is refreshed daily to include
      the latest, greatest data. Enjoy! 
    </p>

    <div id="recent-data">
      <table>
          <tr id="recent-data-first-line">
            {% for day_table in daily_table %}
            <th> {{ day_table["DAY-OF-WEEK"] }} {{ day_table.MONTH }}/{{ day_table.DAY }}/{{ day_table.YEAR }} </th> 
            {% endfor %}
          </tr>
          <tr>
            {% for day_table in daily_table %}
            <td> <em>Group:</em> {{ day_table["GROUP"] }} </td>
            {% endfor %}
          </tr>
          <tr>
            {% for day_table in daily_table %}
            <td> <em>Newbies:</em> {{ day_table["NEWBIES"] }} </td>
            {% endfor %}
          </tr>
      </table>
    </div>

    {{ daily_bar_div | safe }}
    {{ weekly_bar_div | safe }}

    <link href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.15.min.css" rel="stylesheet" type="text/css">

    <script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.15.min.js"></script>

	<script>
		window.onload = function () {
		  var recent_data_div = document.getElementById("recent-data");
		  recent_data_div.scrollLeft = recent_data_div.scrollWidth;
		}
    </script>

    {{ daily_bar_script | safe }}
    {{ weekly_bar_script | safe }}
  </body>

</html>
