body {
    background-color: #C0C0C0;
}

th {
    padding: 0 15px 0 15px;
    text-align: center;
    color: white;
    background-color: #808080;
}

td {
    padding: 0 15px 0 15px;
    text-align: center;
    color: black;
    border-right: 2px solid;
    border-color: #808080;
}

table {
    border-collapse: collapse;
    margin: auto;
    background-color: white;
}

.bk-plot-layout {
    margin: auto;
}

.bk-plot-fixed {
    margin: auto;
}

#last-update {
    text-align: center;
}
