html {
  font-family: 'Signika', sans-serif;
  font-size: 30px;
}

body {
  background-color: #62C8DE;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}

p {
  width: 80%;
  margin: 10px auto;
}

table {
  font-size: 20px;
  border-spacing: 20px;
  border-collapse: collapse;
}

#forecast {
  width: 30%;
  margin: auto;
  background-color: white;
}

#recent-data-first-line {
  border-bottom: 2px solid black;
}

th, td {
  text-align: left;
  min-width: 250px;
}

td {
  white-space: nowrap;
}

#recent-data {
  width: 80%;
  margin: 0 auto;
  overflow-x: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
}

.bk-plot-layout {
  width: 95%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 10px 10px 5px grey;
}

